node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env*
!.env.example
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.content-collections
.artifacts
nginx/cloudflare.ini
scripts/db-init.cjs
