services:
  alfanjauhari_com_app_dev:
    container_name: alfanjauhari_com_app_dev
    env_file: ${RUNTIME_ENV_FILE:-.env}
    build:
      context: .
      args:
        VITE_SITE_URL: $VITE_SITE_URL
        CD_CLOUD_NAME: $CD_CLOUD_NAME
        VITE_CLOUDINARY_URL: $VITE_CLOUDINARY_URL
        BETTER_AUTH_URL: $BETTER_AUTH_URL
      secrets:
        - CD_API_KEY
        - CD_API_SECRET
        - BETTER_AUTH_SECRET
    ports:
      - 3000:3000
    volumes:
      - app_data:/usr/src/app
    networks:
      - web
    user: "1000"
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.app-nonwww.rule=Host(`alfanjauhari.localhost`)"
      - "traefik.http.routers.app-nonwww.entrypoints=web"
      - "traefik.http.routers.app-nonwww.middlewares=redirect-www"

      - "traefik.http.routers.app.rule=Host(`www.alfanjauhari.localhost`)"
      - "traefik.http.routers.app.entrypoints=web"
      - "traefik.http.services.app.loadbalancer.server.port=3000"

  alfanjauhari_com_traefik_dev:
    image: traefik:v3.6.6
    container_name: alfanjauhari_com_traefik_dev
    restart: unless-stopped
    command:
      - "--log.level=DEBUG"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      # HTTP only
      - "--entryPoints.web.address=:80"

      # Dashboard (optional)
      - "--api.dashboard=true"
      - "--api.insecure=true"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web
    labels:
      - "traefik.enable=true"

      - "traefik.http.middlewares.redirect-www.redirectregex.regex=^http://alfanjauhari\\.localhost/(.*)"
      - "traefik.http.middlewares.redirect-www.redirectregex.replacement=http://www.alfanjauhari.localhost/$${1}"
      - "traefik.http.middlewares.redirect-www.redirectregex.permanent=true"
    depends_on:
      alfanjauhari_com_app_dev:
        condition: service_started
      alfanjauhari_com_analytics_dev:
        condition: service_healthy

  alfanjauhari_com_db_dev:
    image: postgres:alpine
    container_name: alfanjauhari_com_db_dev
    env_file: ${RUNTIME_ENV_FILE:-.env}
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - web
    ports:
      - 5432:5432

  alfanjauhari_com_analytics_dev:
    image: ghcr.io/umami-software/umami:latest
    container_name: alfanjauhari_com_analytics_dev
    platform: linux/amd64
    depends_on:
      alfanjauhari_com_db_dev:
        condition: service_healthy
    env_file: ${RUNTIME_ENV_FILE:-.env}
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@alfanjauhari_com_db_dev:5432/${POSTGRES_DB:-postgres}
      APP_SECRET: replace-me-with-a-random-string
    networks:
      - web
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
    init: true
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.analytics.rule=Host(`analytics.alfanjauhari.localhost`)"
      - "traefik.http.routers.analytics.entrypoints=web"
      - "traefik.http.services.analytics.loadbalancer.server.port=3000"

volumes:
  app_data:
  nginx_cache:
  db_data:

networks:
  web:
    driver: bridge

secrets:
  CD_API_KEY:
    environment: CD_API_KEY
  CD_API_SECRET:
    environment: CD_API_SECRET
  BETTER_AUTH_SECRET:
    environment: BETTER_AUTH_SECRET
