/* #region Content Tag */
.article__content p {
  margin: var(--size-lg) 0;
}

.article__content h1,
.article__content h2,
.article__content h3,
.article__content h4,
.article__content h5,
.article__content h6 {
  font-weight: var(--font-bold);
  margin: var(--size-lg) 0;
}

.article__content h1 {
  font-size: var(--size-xxl);
  line-height: 1.2;
}

.article__content h2 {
  font-size: var(--size-xl);
  line-height: 1.2;
}

.article__content h3 {
  font-size: var(--size-lg);
}

.article__content h4 {
  font-size: var(--size-md);
}

.article__content h5 {
  font-size: var(--size-sm);
}

.article__content h6 {
  font-size: var(--size-xs);
}

.article__content hr,
.article hr {
  border-top: 0;
  border-bottom: 1px solid var(--color-secondary);
  margin: var(--size-lg) 0;
}

.article__content ul {
  margin: var(--size-lg) 0;
  list-style-type: disc;
  padding-left: var(--size-md);
}

.article__content ul li {
  margin: var(--size-sm) 0;
  padding-left: var(--size-sm);
}

.article__content ul li::marker {
  color: var(--color-secondary-pressed);
}

.article__content ol {
  margin: var(--size-lg) 0;
  counter-reset: custom-counter;
}

.article__content ol li {
  counter-increment: custom-counter;
  margin: var(--size-sm) 0;
}

.article__content ol li::before {
  content: counter(custom-counter) ". ";
  margin-right: var(--size-sm);
  color: var(--color-secondary-pressed);
}

.article__content pre {
  margin: var(--size-lg) 0;
  padding: var(--size-md);
  background-color: #f9fafb;
  border-radius: var(--size-xs);
  overflow-x: auto;
}

.article__content table {
  margin: var(--size-lg) 0;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.article__content table thead th {
  padding: var(--size-sm);
  text-align: start;
  font-size: var(--size-sm);
  border-bottom: 1px solid var(--color-secondary-pressed);
  font-weight: 400;
  color: var(--color-secondary-pressed);
}

.article__content table thead td {
  padding: var(--size-sm) 0;
  border-bottom: 1px solid var(--color-secondary-pressed);
  font-size: var(--size-sm);
}

.article__content table tbody {
  width: 100%;
}

.article__content table tbody td {
  padding: var(--size-sm) 0;
  font-size: var(--size-md);
  border-bottom: 1px solid var(--color-secondary-pressed);
}

.article__content table tbody td:nth-child(odd) {
  background-color: var(--color-secondary);
}

.article__content blockquote {
  font-style: italic;
  color: var(--color-secondary-pressed);
  border-left: 2px solid var(--color-secondary-pressed);
  margin: var(--size-lg) 0;
  padding-left: var(--size-md);
}

.article__content a {
  color: var(--color-secondary-pressed);
  transition-duration: 200ms;
  font-weight: var(--font-semibold);
}

.article__content a:hover {
  color: var(--color-primary);
}
/* #endregion */

.article__title {
  font-weight: var(--font-black);
  font-size: var(--size-xl);
  line-height: 1.2;
  overflow-x: auto;
}

@media screen and (min-width: 768px) {
  .article__title {
    font-size: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .article__title {
    font-size: 80px;
  }
}

.article__meta {
  margin-top: var(--size-md);
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.article__excerpt {
  color: var(--color-secondary-pressed);
  font-size: var(--size-lg);
}

.article__date {
  font-weight: var(--font-semibold);
}
