{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{if .Title}}{{.Title}} &mdash; {{end}}Alfan Jauhari</title>

    <meta name="description" content="{{.Description}}" />
    <meta name="author" content="Alfan Jauhari" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index, follow" />

    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/db8cfpaih/image/upload/q_auto,h_16,w_16/v1/profile-image.ico"
    />
    <link rel="canonical" href="{{.Canonical}}" />

    <!-- #region Preload Fonts -->
    <link
      rel="preload"
      href="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/fonts/inter-v13-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/fonts/inter-v13-latin-600.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/fonts/inter-v13-latin-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/fonts/inter-v13-latin-900.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/fonts/jetbrains-mono-v18-latin-600.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/fonts/jetbrains-mono-v18-latin-italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/fonts/jetbrains-mono-v18-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- #endregion -->

    {{if .IsProduction}}
    <link
      rel="stylesheet"
      href="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/app.min.css"
    />
    {{else}}
    <link rel="stylesheet" href="/styles/app.css" />
    {{end}} {{if .IsProduction}}
    <script
      type="module"
      src="https://res.cloudinary.com/db8cfpaih/raw/upload/v1/assets/app.min.js"
    ></script>
    {{else}}
    <script type="module" src="/scripts/app.js"></script>
    {{end}}
  </head>
  <body>
    <header class="header">
      <a class="avatar" href="/">
        <img
          class="avatar__image"
          src="https://res.cloudinary.com/db8cfpaih/image/upload/f_auto,q_auto,h_48,w_48/v1/profile-image"
          alt="Alfan Jauhari Profile Picture"
        />
        <h1>Alfan Jauhari</h1>
      </a>
      <menu-toggler
        class="button button--secondary button--small menu__toggler"
      >
        Menu
      </menu-toggler>
      <ul class="menu">
        <li class="menu__item">
          <a href="/" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="/about" class="menu__link">About</a>
        </li>
        <li class="menu__item">
          <a href="/blog" class="menu__link">Blog</a>
        </li>
      </ul>
    </header>
    {{end}}
  </body>
</html>
