@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@config "../../tailwind.config.mjs";

@theme {
  --font-sans: "Satoshi-Variable", sans-serif;
  --font-heading: "Anton", sans-serif;
  --font-mono: "Fira Code Variable", monospace;

  --text-10xl: 10rem;
  --text-10xl-line-height: 1;
}

pre:has(code) {
  position: relative;
  white-space: pre-wrap;
}

pre button.copy {
  position: absolute;
  right: 16px;
  top: 16px;
  height: 20px;
  width: 20px;
  padding: 0;
  display: flex;

  & span {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & .ready {
    background-image: url(/images/copy.svg);
  }

  & .success {
    display: none;
    background-image: url(/images/check.svg);
  }

  &.copied > .ready {
    display: none;
  }

  &.copied > .success {
    display: block;
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 1.5rem;
  text-align: right;
  color: var(--color-gray-300);
}

/* Code Fonts */
html .astro-code {
  font-size: 14px !important;
}

.sp-code-editor .cm-lineNumbers {
  font-size: 0.8rem !important;
}
