@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply hover:text-blue-600 duration-300;
}

:not(pre) > code {
  background-color: #f9fafb !important;
  padding: 0.25rem !important;
  color: #3b82f6 !important;
  border-radius: 0.125rem !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #374151;
}

.token.punctuation {
  color: #374151;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #10b981;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #8b5cf6;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #f59e0b;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #3b82f6;
}

.token.function,
.token.class-name {
  color: #ec4899;
}

.token.regex,
.token.important,
.token.variable {
  color: #f59e0b;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #1f2937;
}
