{{template "base" .}}
<main class="main">
  <section class="articles">
    <div class="articles__meta-wrapper">
      <h1 class="articles__title">Blog</h1>
      <h2 class="articles__description">
        Some of my writings are about of technology, programming, and random
        things.
      </h2>
    </div>
    <hr class="articles__meta-separator" />
    <div class="articles__list">
      {{range $post := .Posts}}{{template "postcard" .}}{{end}}
    </div>
    {{if gt .TotalPosts (len .Posts)}}
    <div class="articles__more-wrapper">
      <a
        href="?page={{.NextPage}}"
        class="button button--large button--primary"
      >
        Load More Posts
      </a>
    </div>
    {{end}}
  </section>
</main>
