/* #region Header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: var(--size-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(var(--size-md));
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-left: 128px;
    padding-right: 128px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-left: 160px;
    padding-right: 160px;
  }
}
/* #endregion */

/* #region Avatar */
.avatar {
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  font-weight: var(--font-semibold);
  z-index: 50;
}

.avatar__image {
  width: 48px;
  height: 48px;
  border-radius: 999px;
}
/* #endregion */

/* #region Navigation */
.menu {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 255 255);
  z-index: 10;
  transform: translateX(-100%);
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.menu--visible {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .menu {
    position: sticky;
    width: auto;
    height: auto;
    inset: auto;
    justify-content: start;
    background-color: transparent;
    flex-direction: row;
    transform: translateX(0);
  }

  .menu--visible {
    position: sticky;
    width: auto;
    height: auto;
    inset: auto;
    justify-content: start;
    background-color: transparent;
    flex-direction: row;
  }
}

.menu__toggler {
  z-index: 50;
  right: var(--size-md);
  font-weight: var(--font-bold);
}

@media screen and (min-width: 768px) {
  .menu__toggler {
    display: none;
  }

  .menu__toggler--closed {
    display: none;
  }
}

.menu__link {
  font-weight: var(--font-semibold);
}
