.postcard {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.postcard__image {
  object-fit: cover;
  height: 320px;
  width: 100%;
  border-radius: var(--size-xs);
}

.postcard__title {
  font-size: var(--size-xl);
  font-weight: var(--font-bold);
  color: var(--color-primary);
  line-height: 1.2;
}

.postcard__excerpt {
  color: var(--color-secondary-pressed);
}

.postcard__date {
  font-size: var(--size-sm);
  font-weight: var(--font-semibold);
}
