---
import Head from '@/components/base/Head.astro'
import '@/styles/fonts.css'
import '@/styles/global.css'

import { Footer } from '@/components/ui/Footer'
import { Header } from '@/components/ui/Header'

interface Props {
  title: string
  description: string
  blank?: boolean
}

const { title, description, blank } = Astro.props
---

<html lang="en" class="m-0 p-0">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <Head title={`${title} — Alfan Jauhari`} description={description} />
  </head>
  <body class="bg-gray-100 m-0 p-0">
    {!blank && <Header pathname={Astro.url.pathname} client:load />}
    <main class:list={["w-full", { "px-6": !blank }]}>
      <slot />
    </main>
    {!blank && <Footer client:visible={{ rootMargin: "200px" }} />}
  </body>
</html>
