---
import { getCollection } from 'astro:content'
import { SnippetButtonToggle } from '@/components/ui/SnippetButtonToggle'
import { SnippetSidebar } from '@/components/ui/SnippetSidebar'
import SiteLayout from '@/layouts/SiteLayout.astro'

interface Props {
  title?: string
  description?: string
}

const snippets = await getCollection('snippets')

const currentPath = Astro.url.pathname

const { title, description } = Astro.props as Props
---

<SiteLayout
  title={title || 'Snippets'}
  description={description || "A collection of my greatest code I ever written"}
  className="group/snippet-layout"
>
  <div class="snippet-wrapper grid grid-cols-[0_100%] md:grid-cols-[190px_1fr] lg:grid-cols-[320px_1fr] py-20 md:gap-8">
    <SnippetSidebar snippets={snippets} currentPath={currentPath} client:only />

    <SnippetButtonToggle client:only />
    
    <article>
      <slot />
    </article>
  </div>
</SiteLayout>
